<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:insert="fragments.html :: headermenu"></div>
		<div th:insert="fragments.html :: leftmenu"></div>

		<!-- Page content goes here -->

		<div class="content-wrapper">
			<section class="content-header">


				<div class="inner-card max-height">

					<div class="content-header">
						<div class="score-card">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
									<div class="student-img">
										<img src="../../dist/img/study.svg">
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
									<div class="overall-txt">average overall performance</div>
									<div class="performance-percentage good-score">80.50%</div>
									<div class="card-txt">average score</div>
									<br>
									<div class="class-score good-score">96%</div>
									<div class="card-txt">average class score</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
									<div class="test-counter">
										<div class="card-txt">pending tests</div>
									</div>
									<div class="test-count">10</div>
									<br>
									<div class="test-counter">
										<div class="card-txt">pending quiz</div>
									</div>
									<div class="test-count">10</div>
								</div>
							</div>
						</div>
						<div class="inner-card position-center" style="margin-top: 50px;">
							<div class="row">
								<div class="col-9">
									<div class="heading" style="margin-bottom: 15px;">Upcoming
										lectures</div>
								</div>
								<div class="col-3">
									<a class="view-btn" data-toggle="collapse"
										href="#collapseExample" role="button" aria-expanded="false"
										aria-controls="collapseExample"> View All </a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="student-lecture-card bg-maths">
										<div class="live-container">Live</div>
										<div class="row">
											<div class="col-3">
												<div class="date-txt">26</div>
												<div class="month-txt">Nov</div>
											</div>
											<div class="col-9">
												<div class="details-container">
													<div class="student-subject-txt">mathematics</div>
													<div class="topic-txt" style="margin-top: -1px;">Quadartic
														Equation + Chemical Equillibrium</div>
													<div class="student-lec-timing">7.30 to 9.00 pm</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="student-lecture-card bg-phy">
										<div class="live-container">Live</div>
										<div class="row">
											<div class="col-3">
												<div class="date-txt">26</div>
												<div class="month-txt">Nov</div>
											</div>
											<div class="col-9">
												<div class="details-container">
													<div class="student-subject-txt">mathematics</div>
													<div class="topic-txt" style="margin-top: -1px;">Quadartic
														Equation + Chemical Equillibrium</div>
													<div class="student-lec-timing">7.30 to 9.00 pm</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="student-lecture-card bg-chem">
										<div class="live-container">Live</div>
										<div class="row">
											<div class="col-3">
												<div class="date-txt">26</div>
												<div class="month-txt">Nov</div>
											</div>
											<div class="col-9">
												<div class="details-container">
													<div class="student-subject-txt">mathematics</div>
													<div class="topic-txt" style="margin-top: -1px;">Quadartic
														Equation + Chemical Equillibrium</div>
													<div class="student-lec-timing">7.30 to 9.00 pm</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="student-lecture-card bg-maths">
										<div class="live-container">Live</div>
										<div class="row">
											<div class="col-3">
												<div class="date-txt">26</div>
												<div class="month-txt">Nov</div>
											</div>
											<div class="col-9">
												<div class="details-container">
													<div class="student-subject-txt">mathematics</div>
													<div class="topic-txt" style="margin-top: -1px;">Quadartic
														Equation + Chemical Equillibrium</div>
													<div class="student-lec-timing">7.30 to 9.00 pm</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="collapse" id="collapseExample">
								<div class="row">
									<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
										<div class="student-lecture-card bg-maths">
											<div class="live-container">Live</div>
											<div class="row">
												<div class="col-3">
													<div class="date-txt">26</div>
													<div class="month-txt">Nov</div>
												</div>
												<div class="col-9">
													<div class="details-container">
														<div class="student-subject-txt">mathematics</div>
														<div class="topic-txt" style="margin-top: -1px;">Quadartic
															Equation + Chemical Equillibrium</div>
														<div class="student-lec-timing">7.30 to 9.00 pm</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
										<div class="student-lecture-card bg-phy">
											<div class="live-container">Live</div>
											<div class="row">
												<div class="col-3">
													<div class="date-txt">26</div>
													<div class="month-txt">Nov</div>
												</div>
												<div class="col-9">
													<div class="details-container">
														<div class="student-subject-txt">mathematics</div>
														<div class="topic-txt" style="margin-top: -1px;">Quadartic
															Equation + Chemical Equillibrium</div>
														<div class="student-lec-timing">7.30 to 9.00 pm</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
										<div class="student-lecture-card bg-chem">
											<div class="live-container">Live</div>
											<div class="row">
												<div class="col-3">
													<div class="date-txt">26</div>
													<div class="month-txt">Nov</div>
												</div>
												<div class="col-9">
													<div class="details-container">
														<div class="student-subject-txt">mathematics</div>
														<div class="topic-txt" style="margin-top: -1px;">Quadartic
															Equation + Chemical Equillibrium</div>
														<div class="student-lec-timing">7.30 to 9.00 pm</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
										<div class="student-lecture-card bg-maths">
											<div class="live-container">Live</div>
											<div class="row">
												<div class="col-3">
													<div class="date-txt">26</div>
													<div class="month-txt">Nov</div>
												</div>
												<div class="col-9">
													<div class="details-container">
														<div class="student-subject-txt">mathematics</div>
														<div class="topic-txt" style="margin-top: -1px;">Quadartic
															Equation + Chemical Equillibrium</div>
														<div class="student-lec-timing">7.30 to 9.00 pm</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="inner-card position-center"
							style="margin-top: 50px; padding-bottom: 20px;">
							<div class="row">
								<div class="col-9">
									<div class="heading" style="margin-bottom: 15px;">enrolled
										courses</div>
								</div>
								<div class="col-3"></div>
							</div>
							<div class="row q-col-gutter-lg">
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="video-content">
										<div class="play-btn-container">
											
										</div>
									</div>
									<div class="topic-name">Electric charges & field</div>
									<div class="professor-name">By Paresh Sir</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="video-content">
										<div class="play-btn-container">
											
										</div>
									</div>
									<div class="topic-name">Electric charges & field</div>
									<div class="professor-name">By Paresh Sir</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="video-content">
										<div class="play-btn-container">
											
										</div>
									</div>
									<div class="topic-name">Electric charges & field</div>
									<div class="professor-name">By Paresh Sir</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="video-content">
										<div class="play-btn-container">
											
										</div>
									</div>
									<div class="topic-name">Electric charges & field</div>
									<div class="professor-name">By Paresh Sir</div>
								</div>
							</div>
						</div>
					</div>


				</div>


			</section>
		</div>


		<div th:insert="fragments.html :: footer"></div>

	</div>
	<div th:insert="fragments.html :: jqueryload"></div>
</body>
</html>